<div class="container">
<p class="mt">
  <%= link_to "Добавить рецепт", new_recipe_path, class: "button button-main" %>
<p>  
</div>

<div class="container mt-sm">
  <h2 class="title-lg" >Все рецепты</h2>
  <% @recipes.each do |recipe| %>
    <div class="mt-sm container">
      <%= render recipe%>
    </div>
  <% end %>  
</div>