.button{
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 13px 7px;
    text-decoration: none;
}

.button_nick{
    border: 0;
    border-radius: 3px;
    color: #800000;
    display: inline-block;
    font-size: 14px;
    padding: 8px 13px 7px;
    text-decoration: underline;
    
}

.button-main{
    background-color: #e91a1a;
}

.button-user{
    background-color: #800000;
}

.button-container{
    display:inline-block;
    width:130px;
}