body{
    font-family: 'Trebuchet MS', sans-serif;
    color: #03071E;
}

a, button {
    color: #F5DEB3;
}

.title-lg{
    font-size: 175%;
}

.title-md, .title{
    font-size: 150%;
}

.title-sm{
    font-size: 125%;
}

.tetx-sm{
    font-size: 80%;
}