body{
  font-family: 'Trebuchet MS', sans-serif;
  color: #03071E;
}

a, button {
  color: #d6a344;
}

.title-lg{
  font-size: 175%;
}

.title-md, .title{
  font-size: 150%;
}

.title-sm{
  font-size: 125%;
}

.text-red{
  color: darkred;
}

.tetx-sm{
  font-size: 80%;
}

.tetx-grey{
  color: #a0a0a0;
}